 <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5">Dernières actualités</h1>
                <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
            </div>
            <div class="row g-3" id="slide-in">
            {% for blogpost in blogposts %}
                <div class="col-xl-4 col-lg-6" onclick="location.href='{{ path("actualites_detail", {"slug": blogpost.slug}) }}';" style="cursor:pointer;">
                    <div class="blog-item bg-primary">
                        <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                        <div class="d-flex align-items-center">
                            <div class="bg-secondary mt-n4 d-flex flex-column flex-shrink-0 justify-content-center text-center me-4" style="width: 60px; height: 100px;">
                                <i class="fa fa-calendar-alt text-primary mb-2"></i>
                                <p class="m-0 text-white">{{ blogpost.createdAt|date('d M') }}</p>
                                <small class="text-white">{{ blogpost.createdAt|date('Y') }}</small>
                            </div>
                            <div>
                                <h3 class="mt-auto">{{ blogpost.titre }}</h3>
                                <a class="mb-0 ms-auto text-muted" href="">{{ blogpost.contenu|u.truncate(150, '...', false) }}</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog End -->
