<!-- realisations Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-5">Dernières réalisations</h1>
                <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
            </div>
            {% for peinture in peintures %}
            <div class="row gx-0 mb-lg-3 reveal" id="slidein" onclick="location.href='{{ path("realisations_detail", {"slug": peinture.slug}) }}';" style="cursor:pointer;">
                <div class="col-lg-6 my-lg-5 py-lg-5">
                    <div class="about-start bg-primary p-5">
                        <h1 class="display-5 mb-4">{{ peinture.nom }}</h1>
                        <p>{{ peinture.description|u.truncate(200, '...', false) }}</p>
                        <p class="h6 text-upercase text-muted py-md-3 px-md-5 mt-4" >
                        <time datetime="04-01-2023">Ajoutée le {{ peinture.createdAt|date('d/m/y') }}</time>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 mb-2" src="{{ peinture.file }}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>
    <!-- realisations End -->

    <script>

        const ratio = .1
        const options = {
            root: null,
            rootMargin: '0px',
            threshold: ratio
            }
        const handleIntersect = function(entries, observer){
            entries.forEach(function (entry){
                if (entry.intersectionRatio > ratio){
                    entry.target.classList.add('reveal-visible')
                    observer.unobserve(entry.target)
                }
            })
        }
        document.documentElement.classList.add('reveal-loaded')
        const observer = new IntersectionObserver(handleIntersect, options)
        document.querySelectorAll('.reveal').forEach(function(r){

            observer.observe(r)
        })

    </script>
