<!-- Formulaire pour les commentaires Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h1 class="display-6">
                    Laisser un commentaire                                   
                </h1>
                <hr class="w-25 mx-auto text-primary" style="opacity: 1;">
            </div>
            
            <div class="row justify-content-center position-relative" style="margin-top: -20px; z-index: 1;">
                <div class="col-lg-8">
                    <div class="bg-primary p-5 m-5 mb-0">
                        {{ form_start(form) }}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="error">
                            {{ form_errors(form) }}
                        </div>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <label class="form-label" for="contactName">
                                    {{ form_label(form.auteur) }}
                                </label>
                                {{ form_widget(form.auteur) }}
                            </div>
                            <div class="col-12 col-sm-6">
                                <label class="form-label" for="contactName">
                                    {{ form_label(form.email) }}
                                </label>
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="contactName">
                                    {{ form_label(form.contenu) }}
                                </label>
                                {{ form_widget(form.contenu) }}
                            </div>
                            <div class="col-12 btn btn-secondary">
                                {{ form_widget(form.soumettre) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    
